@use "../mixins.scss" as m;
@use "../variables.scss" as v;

.about_container {
  height: 100vh;
  max-height: 1000px;
  width: 100vw;
  overflow: hidden;
  margin: 0 auto;
  position: relative;

  .about_sub_container {
    @include m.center;
    flex-direction: column;
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    height: 100%;
    gap: 30px;

    h2 {
      font-size: var(--font-size-heading);
      font-weight: var(--font-weight-heading);
      line-height: var(--line-height-heading);
      max-width: 1266px;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
    }

    p {
      font-size: var(--font-size-para);
      font-weight: var(--font-weight-para);
      line-height: var(--line-height-para);
      max-width: 1266px;
      text-align: center;
    }
  }
}




