@import "../variables";
@import "../mixins";

.container {
  width: 100vw;

  .wrapper {
    @include wrapper;
  }
}

.image_container {
  width: 100%;
  //   height: 100%;
  height: 545px;
  position: relative;
  margin-top: 20px;
  overflow: hidden;
  border-radius: 15px;

   @media #{$media-600} {
   height: 445px;
  }

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: left;
  }
}

.overlay_container {
  width: 45%;
  height: 80%;
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  position: absolute;
  justify-content: center;
  gap: 20px;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  padding: 0% 0% 0% 0%;


  @media #{$media-1300} {
    width: calc(100% - 6%);
    padding: 0% 3% 0% 3%;
    height: 98%;
  }

  @media #{$media-500} {
    margin-left: 0;
  }
}

.logo_container {
  width: max(250px,30%);
  height: auto;
  aspect-ratio: 2/1;

  img {
    display: block;
    height: 100%;
    width: 100%;
    height: auto;
  }
}

.details_container {
  color: white;
  display: flex;
  flex-direction: column;

  h4 {
    font-size: 2.5rem;
    font-weight: 500;
    line-height: 44px;

    @media #{$media-600} {
      line-height: 30px;
    }
  }
}

.info_list {
  display: flex;
  margin: 20px 0px;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;

  @media #{$media-1300} {
    margin: 10px 0px;
  }

  li {
    display: flex;
    gap: 10px;
    align-items: center;
    gap: 10px;
    height: auto;

    img {
      width: 20px;
      height: 20px;
      object-fit: contain;
    }

    span {
      font-size: 16px;
      font-weight: 350;
      line-height: 55px;

      @media #{$media-1600} {
        font-size: 14px;
        line-height: 40px;
      }
    }
  }
}

.button_container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
