@import "../variables";
@import "../mixins";

.container {
  width: 100vw;

  .wrapper {
    @include wrapper;
    display: flex;
    flex-wrap: wrap;
    gap: 10%;
  }
}

.contact_top {
  width: 100%;
  display: flex;
  // justify-content: space-between;
  gap: 20px;

  @media #{$media-768} {
    flex-direction: column;
    gap: 50px;
  }
}

.address {
  width: 40%;
  max-width: 577px;

  @media #{$media-768} {
    width: 100%;
  }
}

.form {
  width: 55%;

  @media #{$media-768} {
    width: 100%;
  }

  .form_list {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;

    li input,
    textarea {
      width: 100%;
      padding: 2% 2% 2% 6%;
      border: 1px solid #d3d3d3;
      border-radius: 30px;
      resize: none;
      font-size: 16px;
      font-weight: 400;
      line-height: 150%;
      color: #574547;

      @media #{$media-1600} {
        font-size: 14px;
        line-height: 140%;
      }

      &:focus {
        border: 1px solid #c09273;
        outline: none;
      }
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }
}

.name {
  display: flex;
  justify-content: space-between;
  gap: 10px;

  @media #{$media-600} {
    flex-direction: column;
  }

  .first_name.first_name,
  .last_name.last_name {
    width: 48%;

    @media #{$media-600} {
      width: 100%;
    }
  }
}

.address_list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 30px;
  .contact {
    display: flex;
    align-items: center;
    gap: 25px;

    .icon {
      @include center;
      background: $dark_color;
      border-radius: 30px;
      height: 45px;
      width: 45px;

      @media #{$media-768} {
        height: 38px;
        width: 38px;
      }
    }
  }
}

.contact_bottom {
  display: flex;
  flex-direction: column;
  gap: 20px;
 margin-top: max(10%, 60px);
}

.bottom_list {
  display: flex;
  
  gap: min(3rem);
  align-items: center;

  @media #{$media-600} {
   flex-direction: column-reverse;
   align-items: flex-start;
   }

  .contact {
    display: flex;
    align-items: center;
    gap: 15px;

    .icon {
      @include center;
      background: $dark_color;
      border-radius: 30px;
      height: 45px;
      width: 45px;

      @media #{$media-768} {
        height: 38px;
        width: 38px;
      }
    }
  }
}
