@import "../_variables.scss" ;
@import "../_mixins.scss" ;

.events_container {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  margin: 0 auto;
  position: relative;

  @media #{$media-820} {
    height: auto;
    padding: 60px 0px;
  }



  &::before,
  &::after {
    content: "";
    position: absolute;
    top: -30px;
    z-index: -1;
    background-repeat: no-repeat;
    background-size: contain;
  }

  &::before {
    left: 0;
    width: 110px;
    height: 100%;
    background-image: url('/about_decor_left.png');
    
    @media #{$media-700} {
      display: none;
    }
  }

  &::after {
    right: 0;
    width: 55px;
    height: 902px;
    background-image: url('/about_decor_right.png');

    @media #{$media-700} {
      width: 30px;
    }
  }


  & > div {
    @include wrapper;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    overflow: hidden;
    margin: 0 auto;
   


    @media #{$media-1600}{
      padding: 0% 5% 0% 5%;
    }

    .event_text_container {
      width: 40%;
      max-width: 565px;
      display: flex;
      justify-content: center;
      gap: 25px;
      flex-direction: column;

      @media #{$media-820} {
        width: 100%;
       }

      h2 {
        font-size: var(--font-size-heading);
        font-weight: var(--font-weight-heading);
        line-height: var(--line-height-heading);
      }

      p  {
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;

        @media #{$media-1600} {
          font-size: 14px;
          line-height: 23px;
        }

      }

    }

   
  }
}
