@import "../variables";
@import "../mixins";

.conatiner {
  width: 100vw;

  .wrapper {
    @include wrapper;
  }
}

.image_container {
  max-width: 1600px;
  margin: 0 auto;
  overflow: hidden;
  display: grid;
  gap: 15px;
  grid-template-areas:
    "image_1 image_2 image_3 image_4"
    "image_5 image_5 image_6 image_4"
    "image_7 image_8 image_9 image_10"
    "image_11 image_8 image_12 image_12";

  li {
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: all 0.5s ease;
    }

    img:hover {
      transform: scale(1.1);
    }
  }
}
