@import "../_mixins.scss";
@import "../_variables.scss";

.container {
  position: relative;
  display: flex;
  align-items: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  .swiper {
    width: 100%;
    height: 100vh;
    position: relative;
    z-index: 1;

    .slide {
      width: 100%;
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;

      .bg {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      video {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  .text_container {
    position: absolute;
    left: 50%;
    top: 70%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    z-index: 50;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
    max-width: 1052px;

    h1 {
      font-size: 4.0625rem;
      font-weight: 700;
      line-height: 121%;
      margin: 0;
      text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    }

    button {
      z-index: 99;
    }
  }

  .fade_in {
    animation: fadeIn 1s ease-in-out;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }

    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .swiper_button_right,
  .swiper_button_left {
    position: absolute;
    top: 45%;
    transform: translateY(-50%);
    width: 67px;
    height: 67px;
    background: rgba($color: #ffffff, $alpha: 0.2);
    backdrop-filter: blur(11.7px);
    border: none;
    transform: rotate(45deg);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 10;
    transition: all 0.3s ease;

    img {
      height: 37px;
      width: 25px;
    }

    @media (min-resolution: 144dpi) {
      width: 57px;
      height: 57px;
    }
  }

  .swiper_button_right {
    right: 104px;

    @media (min-resolution: 144dpi) {
      right: 80px;
    }

    img {
      transform: rotate(135deg);
    }

    &:hover {
      background: rgba(255, 255, 255, 0.4);
      padding: 0px 0px 10px 10px;
    }
  }

  .swiper_button_left {
    left: 104px;

    @media (min-resolution: 144dpi) {
      left: 80px;
    }

    img {
      transform: rotate(315deg);
    }

    &:hover {
      background: rgba(255, 255, 255, 0.4);
      padding: 10px 10px 0px 0px;
    }
  }

  .custom_pagination {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;

    .bullet {
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background: rgba($color: #f5ede6, $alpha: 0.3);
      border: none;
      cursor: pointer;
      padding: 0;
      transition: all 0.3s ease;

      &.active {
        height: 27px;
        width: 27px;
        border-radius: 0%;
        transform: rotate(45deg);
        background: #f5ede6;
      }

      &:focus {
        outline: none;
      }
    }
  }
}

@media #{$media-1200} {
  .container {
    .swiper_button_right,
    .swiper_button_left {
      width: 40px;
      height: 40px;

      img {
        height: 25.9px;
        width: 17.5px;
      }
    }

    .swiper_button_right {
      right: 5% !important;
    }

    .swiper_button_left {
      left: 5% !important;
    }
  }

  .custom_pagination {
    gap: 30px !important;

    .bullet {
      width: 10px !important;
      height: 10px !important;

      &.active {
        height: 20px !important;
        width: 20px !important;
      }

      &:focus {
        outline: none;
      }
    }
  }
}

@media #{$media-820} {
  .container {
    .text_container {
      padding: 20px 10px;
    }
  }
}
