@import "../_mixins.scss";
@import "../_variables.scss";

.learn_container {
  width: 100%;
  // height: 904px;
  align-items: center;
  background: url("/learn_junior.bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: all .3s ease;

  &:has(.ladies:hover) {
    background: url("/learn.ladies.bg.jpg");
  }

  &:has(.men:hover) {
    background: url("/learn.men.bg.jpg");
  }


  @media #{$media-768} {
    background: none;
    background-color: #f1dfd3;
  }

  & > div {
    height: 100%;
    width: 100%;
    background: rgba($color: #f5ede6cc, $alpha: 0.8);
    display: flex;
    justify-content: center;
    align-items: center;

    &:has(div:hover) {
      background: rgba($color: #f5ede6cc, $alpha: 0.6);
    }

    .sub_container {
      @include wrapper;
      width: 100%;
      display: flex;
      flex-direction: column;
      overflow: hidden;
      gap: 100px;

      
      @media #{$media-1600} {
        padding: 0 5%;
      }

      @media #{$media-820} {
        gap: 50px;
      }

      .learn_top {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 20px;

        h2 {
          font-size: var(--font-size-heading);
          font-weight: var(--font-weight-heading);
          line-height: var(--line-height-heading);
        }
      }

      .learn_bottom {
        width: 100%;
        min-height: 262px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        gap: 30px;
        margin-bottom: 130px;


        @media #{$media-1024} {
          gap: 20px;
        }

        
        @media #{$media-820} {
          gap: 15px;
          margin-bottom: 0px;

          display: flex;
          flex-direction: column;
          gap: 40px;
        }

        & .junior,
        & .ladies,
        & .men {
          height: 100%;
          width: 100%;
          background: rgba($color: #ffffff, $alpha: 0.4);
          border: 1px solid white;
          text-align: center;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 25px;
          border-radius: 15px;
          position: relative;
          padding: 40px 20px 30px 20px;


          
        @media #{$media-1024} {
          gap: 20px;
        }

          h3 {
            font-size: 2.5rem;
            font-weight: 700px;
            line-height: 112%;
            color: #805e59;
          }

          p {
            font-size: 16px;
            font-weight: 400;
            line-height: 26px;
            max-width: 409px;


            
        @media #{$media-1600} {
          font-size: 14px;
          line-height: 23px;
        }
          }

          & > div {
            position: absolute;
            height: 58px;
            width: 58px;
            background: #f1dfd3;
            border-radius: 300px;
            display: flex;
            justify-content: center;
            align-items: center;
            top: -24px;
            overflow: hidden;
            // left: 50%;
            // right: 50%;
            // transform: translateX(-50%);

            @media #{$media-768}{
              height: 48px;
                width: 48px;
            }

            img {
              scale: 1.4;
            }
          }

          &:hover {
            background: #805e59;
            color: white;

            h3 {
              color: white;
            }
          }
        }
      }



      .button_bottom {
        display: none;

        @media #{$media-820} {
          display: flex;
          align-self: center;
        }
      }

      .button_top {
        
        @media #{$media-820} {
          display: none;
        }
      }


    }
  }
}
