@import "../variables";
@import "../mixins";

.container {
  width: 100vw;
  background: #f5ede6;
  display: flex;
  justify-content: center;
  align-items: center;
}

.list_container {
  display: flex;
  gap: 10px;

  li {
    height: 100%;
    padding: 40px;
  }

  li.active {
    border-bottom: 6px solid #574547;
  }
}
