@import "../_variables";
@import "../_mixins";

.container {
  width: 100vw;
  background: #f5ede6;

  .wrapper {
    max-width: calc(1600px + 6%);
    padding: 0 3%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    // overflow: hidden;
    align-items: center;



    @media #{$media-820} {
      flex-direction: column-reverse;
      gap: 40px;
    }

  }
}

.right_timing_container {
  width: 42%;

  @media #{$media-820} {
    width: 100%;
  }

  > div {
    margin-bottom: 2rem;
  }
}

.timing_table {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 20px;

  // First li takes full width
  & > li:first-child {
    width: 100%;

    & > div {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 1rem;
      padding: 2rem;
      background: rgba($color: #ffffff, $alpha: 0.4);
      border: 1px solid white;
      border-radius: 15px;

      & > div {
        display: flex;
        align-items: center;
        gap: 1rem;
        flex: 1;

        img {
          width: 32px;
          height: auto;
        }

        p {
          margin: 0;
          text-align: left;
          line-height: 27px;
          font-size: 20px;
          font-weight: 350;
          white-space: nowrap;

          @media #{$media-1600} {
            line-height: 24px;
            font-size: 18px;
          }

          @media #{$media-1200} {
            line-height: 22px;
            font-size: 16px;
          }

          @media #{$media-768} {
            line-height: 20px;
            font-size: 14px;
          }

          span {
            font-weight: 700;
          }
        }
      }
    }
  }

  // Rest of the li items (3 per row)
  & > li:not(:first-child) {
    width: calc((100% - 2rem) / 3);
    padding: 2rem;
    border-radius: 15px;
    background: rgba($color: #ffffff, $alpha: 0.4);
    border: 1px solid white;

    & > div {
      height: 100%;

      p {
        margin: 0;
        text-align: left;
        font-size: 23px;
        font-weight: 350;
        line-height: 27px;


        @media #{$media-1600} {
          font-size: 21px;
          line-height: 24px;
          
        }

        @media #{$media-1200} {
          line-height: 22px;
          font-size: 16px;
        }


        @media #{$media-768} {
          line-height: 20px;
          font-size: 14px;
        }

        span {
          font-weight: 700;
        }
      }
    }
  }
}
