@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
}


@mixin wrapper {
    max-width: calc(1600px + 6%);
    margin: 0 auto;
    overflow-x: hidden;
    padding: 0 3% 0 3%;
  }