@import "./variables.scss";
@import "./mixins.scss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Adelle Sans, sans-serif;
}

@font-face {
  font-family: Adelle Sans;
  src: url("/fonts/AdelleSans-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: Adelle Sans;
  src: url("/fonts/AdelleSans-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Adelle Sans;
  src: url("/fonts/AdelleSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Adelle Sans;
  src: url("/fonts/AdelleSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
}

html {
  font-size: 16px;
}

ul,
ol {
  list-style: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

:root {
  --font-size-heading: 50px;
  --font-weight-heading: 700;
  --line-height-heading: 112.00000000000001%;

  --font-size-para: 16px;
  --font-weight-para: 400;
  --line-height-para: 27px;
}

@media (max-width: 1600px) {
  :root {
    --font-size-heading: 48px;
    --font-weight-heading: 700;
    --line-height-heading: 100px;

    --font-size-para: 16px;
    --font-weight-para: 400;
    --line-height-para: 27px;
  }
}

// .wrapper {
//   max-width: 1600px;
//   margin: 0 auto;
//   overflow-x: hidden;
//   height: 100%;
//   background: cyan;
// }

.light_button {
  background: #ffffff;
  display: flex;
  align-items: center;
  display: flex;
  gap: 10px;
  height: 48px;
  border: none;
  border-radius: 30px;
  padding: 0px 10px 0px 30px;
  color: #574547;
  width: fit-content;
  cursor: pointer;
  position: relative;
  overflow: hidden;

  p {
    font-family: Adelle Sans, sans-serif;
    font-size: 16px;
    font-weight: 400;
    z-index: 2;
  }

  div.button_round {
    height: 38px;
    width: 38px;
    border-radius: 19px;
    @include center;
    background-color: $dark-color;
    z-index: 2;

    div {
      height: 16px;
      width: 10px;

      svg {
        color: white;
      }
    }
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0; 
    height: 100%;
    background: darken($dark-color, 3%); 
    transition: width 0.5s ease; 
    z-index: 1; 

  }

  &:hover::before {
    width: 100%; 
    // color: white;
  }

  &:hover p {
    color: white;
  }
}


.dark_button {
  background: $dark-color;
  display: flex;
  align-items: center;
  display: flex;
  gap: 10px;
  height: 48px;
  border: none;
  border-radius: 30px;
  padding: 0px 10px 0px 30px;
  color: white;
  width: fit-content;
  cursor: pointer;
  position: relative;
  overflow: hidden;

  p {
    font-family: Adelle Sans, sans-serif;
    font-size: 16px;
    font-weight: 400;
    z-index: 2;
    transition: color 0.2 ease;
  }

  div.button_round {
    height: 38px;
    width: 38px;
    border-radius: 19px;
    @include center;
    background-color: #f5ede633;
    z-index: 2;

    div {
      height: 16px;
      width: 10px;

      svg {
        color: white;
      }
    }
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0; 
    height: 100%;
    background: darken($dark-color, 3%); 
    transition: width 0.5s ease; 
    z-index: 1; 
  }

  &:hover::before {
    width: 100%; 
    color: white;
  }
  
}

.transparent_button {
  background: rgba($color: #ffffff, $alpha: 0.2);
  backdrop-filter: blur(19.3px);
  display: flex;
  align-items: center;
  display: flex;
  gap: 10px;
  height: 48px;
  border: none;
  border-radius: 30px;
  padding: 0px 10px 0px 30px;
  color: white;
  width: fit-content;
  cursor: pointer;
  position: relative;
  overflow: hidden;

  p {
    font-family: Adelle Sans, sans-serif;
    font-size: 16px;
    font-weight: 400;
    z-index: 1;
  }

  div.button_round {
    height: 38px;
    width: 38px;
    border-radius: 19px;
    @include center;
    background-color: rgba($color: #f5ede633, $alpha: 0.2);
    z-index: 1;

    div {
      height: 16px;
      width: 10px;

      svg {
        color: white;
      }
    }
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: rgba($color: #ffffff, $alpha: 0.3);
    transition: width .5s ease;
    z-index: 0;
  }

  &:hover::before {
    width: 100%;
  }
}

// @keyframes (

// )

.read_more_button {
  background: rgba($color: #ffffff, $alpha: 0);
  display: flex;
  align-items: center;
  display: flex;
  gap: 10px;
  height: 24px;
  border: none;
  color: #574547;
  width: fit-content;
  cursor: pointer;

  p {
    font-family: Adelle Sans, sans-serif;
    font-size: 15px;
    font-weight: 400;
  }

  div {
    height: 16px;
    width: 10px;

    svg {
      color: #574547;
    }
  }
}

// <button className="read_more_button">
//           <p>Read More</p>
//           <div>
//             <svg
//               width="11"
//               height="17"
//               viewBox="0 0 11 17"
//               fill="none"
//               xmlns="http://www.w3.org/2000/svg"
//             >
//               <path
//                 d="M10.3731 8.95553L9.41344 8.07654L1.57473 0.910156L0.650452 1.75385L8.46127 8.94713L0.680212 16.0614L1.61007 16.9102L9.41716 9.82444L9.41902 9.8278L10.3731 8.95553Z"
//                 fill="currentColor"
//               />
//               <path
//                 d="M6 8.91002L-9.66342e-08 14.1062L3.57628e-07 3.71387L6 8.91002Z"
//                 fill="currentColor"
//               />
//             </svg>
//           </div>
//         </button>

.img_left {
  position: absolute;
  top: -30px;
  width: 110px;
  height: 902px;
  left: 0;
}

.img_right {
  position: absolute;
  right: 0px;
  top: -30px;
  width: 55px;
  height: 902px;
}

.aboutStyle.img_left,
.aboutStyle.img_right {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
