@import "./_variables.scss";
@import "./_mixins.scss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Adelle Sans;
  src: url("/fonts/AdelleSans-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: Adelle Sans;
  src: url("/fonts/AdelleSans-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Adelle Sans;
  src: url("/fonts/AdelleSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Adelle Sans;
  src: url("/fonts/AdelleSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

:root {
  --font-size-heading: 3.12rem;
  --font-weight-heading: 700;
  --line-height-heading: 112.00000000000001%;

  --font-primary: Adelle Sans, sans-serif;
  --font-arabic: Noto Sans Arabic, sans-serif;

  --font-size-para: 16px;
  --font-weight-para: 400;
  --line-height-para: 27px;
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
  overflow-x: hidden;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

body {
  overflow-x: hidden;

  font-family: var(--font-primary);

  [dir="rtl"] & {
    font-family: var(--font-arabic);
  }
}

html {
  font-size: 16px;
}

@media (max-width: 1600px) {
  html {
    font-size: 85%;
  }

  :root {
    --font-size-para: 14px;
    --font-weight-para: 400;
    --line-height-para: 23px;
  }
}

@media (max-width: 1400px) {
  html {
    font-size: 85%;
  }
}

@media (max-width: 1280px) {
  html {
    font-size: 80%;
  }
}

@media (max-width: 820px) {
  html {
    font-size: 70%;
  }
}

@media (max-width: 700px) {
  html {
    font-size: 55%;
  }
}

ul,
ol {
  list-style: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.section_heading {
  font-size: 2.8125rem;
  font-weight: 700;
  line-height: 112.00000000000001%;
  color: #241f21;
}

.para {
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;

  @media #{$media-1600} {
    font-size: 14px;
  }

  @media #{$media-1200} {
    line-height: 24px;
  }

  @media (min-width: 1200px) and (-webkit-device-pixel-ratio: 1.5) {
    font-size: 12px;
  }
}

[dir="rtl"] .dark_button div.button_round svg,
[dir="rtl"] .light_button div.button_round svg,
[dir="rtl"] .transparent_button div.button_round svg,
[dir="rtl"] .read_more_button svg {
  transform: rotate(180deg);
}

// -------------image decoration on sides---------------

.img_left {
  position: absolute;
  top: -30px;
  width: 110px;
  height: auto;
  left: 0;
  z-index: -1;

  @media #{$media-700} {
    display: none;
  }
}

.img_right {
  position: absolute;
  right: 0px;
  top: -30px;
  width: 55px;
  height: 902px;
  z-index: -1;
}

.aboutStyle.img_left,
.aboutStyle.img_right {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

// ---------- undeline decoration -------------

.underline_fill {
  display: inline-block;
  position: relative;
  text-decoration: none;

  background-image: linear-gradient(currentColor, currentColor);
  background-size: 0% 1px;
  background-position: 0% 100%;
  background-repeat: no-repeat;
  transition: background-size 0.4s ease;
  padding-bottom: 2px;

  &:hover {
    background-size: 100% 1px;
  }
}

.wrapper {
  max-width: calc(1600px + 6%);
  margin: 0 auto;
  overflow-x: hidden;
  padding: 0 3% 0 3%;
}

// -------------------image curosel------------------------

.swiper_container {
  height: 526px;
  width: 100%;
  padding-bottom: 30px !important;
  position: relative;

  @media #{$media-1200} {
    height: 426px;
  }
}

.slider {
  width: 100%;
  height: 100% !important;
  margin: auto 0px;
  border-radius: 15px;
  overflow: hidden;
  margin-bottom: 20px;
  position: relative;
}

.slider::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    180deg,
    transparent 0,
    transparent 27%,
    rgba(0, 0, 0, 0.65) 99%,
    rgba(0, 0, 0, 0.65)
  );
  pointer-events: none;
}

.img_cover {
  height: 100%;
  width: 100%;
  display: block;
  object-fit: cover;
  position: relative;
}

.section_header {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 112.00000000000001%;
  color: #574547;
  margin-bottom: 35px;
}

.text_container {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: white;
  z-index: 1;

  h5 {
    font-size: 1.625rem;
    font-weight: 500;
    line-height: 28px;
    white-space: nowrap;
    margin-bottom: 15px;
  }

  h6 {
    font-size: 1.875rem;
    font-weight: 250;
    line-height: 28px;
  }
}

// --------------------flip image----------------

.event_img_container {
  width: 45%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  perspective: 1000px;

  @media #{$media-820} {
    width: 100%;
  }

  & > :nth-child(1) {
    width: 48%;
    height: 38vh;
    border-radius: 15px;

    @media #{$media-820} {
      height: 35vh;
    }

    @media #{$media-700} {
      display: none;
    }
  }

  & > :nth-child(2) {
    width: 48%;
    height: 38vh;
    border-radius: 15px;

    @media #{$media-820} {
      height: 35vh;
    }
    @media #{$media-700} {
      display: none;
    }
  }

  & > :nth-child(3) {
    width: 100%;
    height: 38vh;
    border-radius: 15px;

    @media #{$media-820} {
      height: 35vh;
    }
  }

  div > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
    box-shadow: 2px 2px 2px 1px #888888;
  }

  .flip_container {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    cursor: grab;
  }

  .flip_card {
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 15px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

// -------------default image scaling to membership pages---------
.swiper_container {
  .slider {
    overflow: hidden;
    border-radius: 15px;
    position: relative;

    .img_cover {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: transform 0.5s ease;
      transform-origin: center center;
      will-change: transform;
    }

    &:hover .img_cover {
      transform: scale(1.1);
    }
  }
}

// --------------------css for hero bg ------------
.hero_bg {
  position: relative;
  height: 768px;
  width: 100vw;

  @media #{$media-820} {
    height: 468px;
  }
}

.dark_button {
  display: inline-flex;
  height: 48px;
  align-items: center;
  border-radius: 50px;
  width: max-content;
  background: #805e59;
  padding: 0 55px 0 25px;
  gap: 40px;
  color: #f5ede6;
  border: 1px solid transparent;
  position: relative;
  z-index: 2;
  overflow: hidden;
  justify-content: center;
  cursor: pointer;

  [dir="rtl"] & {
    padding: 0 25px 0 55px;
    flex-direction: row-reverse;
  }

  label {
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;

    @media #{$media-1600} {
      font-size: 14px;
    }

    @media #{$media-1200} {
      line-height: 22px;
    }

    @media (min-resolution: 150dpi), (-webkit-min-device-pixel-ratio: 1.5) {
      font-size: 12px;
    }
  }

  span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    background: rgba(245, 237, 230, 0.2);
    transition: var(--transition);
    position: absolute;
    z-index: 4;
    right: 6px;

    [dir="rtl"] & {
      right: auto;
      left: 6px;
    }

    img {
      width: auto;
      height: auto;
      min-height: 40%;
      transition: transform 0.3s ease;

      html[dir="rtl"] & {
        transform: rotate(180deg);
      }

      @media #{$media-700} {
        width: 11px;
      }
    }

    @media #{$media-700} {
      width: 33px;
      height: 33px;
    }
  }

  label {
    position: relative;
    z-index: 4;
    cursor: pointer;
    margin: 0 auto;
  }

  &:after {
    transition: all 0.4s ease-out 0s;
    content: "";
    position: absolute;
    z-index: 3;
    left: 0;
    width: 0;
    height: 100%;
    background: #744e48;

    [dir="rtl"] & {
      right: 0;
    }
  }

  &:hover {
    color: #fff;

    &:after {
      width: 100%;
    }
  }

  @media #{$media-700} {
    height: 38px;
  }
}

.light_button {
  display: inline-flex;
  height: 48px;
  align-items: center;
  border-radius: 50px;
  background: #f5ede6;
  padding-left: 25px;
  padding-right: 7px;
  gap: 40px;
  color: #574547;
  position: relative;
  z-index: 2;
  overflow: hidden;
  padding-right: 55px;
  justify-content: center;
  cursor: pointer;

  [dir="rtl"] & {
    padding: 0 25px 0 55px;
    flex-direction: row-reverse;
  }

  label {
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;

    @media #{$media-1600} {
      font-size: 14px;
    }

    @media #{$media-1200} {
      line-height: 22px;
    }

    @media (min-resolution: 150dpi), (-webkit-min-device-pixel-ratio: 1.5) {
      font-size: 12px;
    }
  }

  span {
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    background: #83625d;
    padding-left: 5px;
    transition: var(--transition);
    position: relative;
    z-index: 4;

    [dir="rtl"] & {
      right: auto;
      left: 6px;
    }

    img {
      width: auto;
      height: auto;
      min-height: 40%;

      html[dir="rtl"] & {
        transform: rotate(180deg);
      }

      @media #{$media-700} {
        width: 11px;
      }
    }

    position: absolute;
    right: 6px;

    @media #{$media-700} {
      width: 33px;
      height: 33px;
    }
  }

  label {
    position: relative;
    z-index: 4;
    cursor: pointer;
  }

  &:after {
    transition: all 0.4s ease-out 0s;
    -moz-transition: all 0.4s ease-out 0s;
    -webkit-transition: all 0.4s ease-out 0s;
    -o-transition: all 0.4s ease-out 0s;
    display: block;
    content: "";
    position: absolute;
    z-index: 3;
    left: 0;
    width: 0;
    height: 100%;
    background: #744e48;

    [dir="rtl"] & {
      right: 0;
    }
  }

  &:hover {
    color: #fff;

    &:after {
      width: 100%;
    }
  }

  @media #{$media-700} {
    height: 38px;
  }
}

.transparent_button {
  display: inline-flex;
  height: 48px;
  align-items: center;
  border-radius: 50px;
  background: rgba($color: #ffffff, $alpha: 0.2);
  backdrop-filter: blur(19.3px);
  padding-left: 25px;
  padding-right: 7px;
  gap: 40px;
  color: white;
  border: 1px solid transparent;
  position: relative;
  z-index: 2;
  overflow: hidden;
  padding-right: 55px;
  justify-content: center;
  cursor: pointer;

  [dir="rtl"] & {
    padding: 0 25px 0 55px;
    flex-direction: row-reverse;
  }

  label {
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;

    @media #{$media-1600} {
      font-size: 14px;
    }

    @media #{$media-1200} {
      line-height: 22px;
    }

    @media (min-resolution: 150dpi), (-webkit-min-device-pixel-ratio: 1.5) {
      font-size: 12px;
    }
  }

  span {
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    background-color: rgba($color: #f5ede633, $alpha: 0.2);
    padding-left: 5px;
    transition: var(--transition);
    position: relative;
    z-index: 4;

    [dir="rtl"] & {
      right: auto;
      left: 6px;
    }

    img {
      width: auto;
      height: auto;
      min-height: 40%;
      html[dir="rtl"] & {
        transform: rotate(180deg);
      }

      @media #{$media-700} {
        width: 11px;
      }
    }

    position: absolute;
    right: 6px;

    @media #{$media-700} {
      width: 33px;
      height: 33px;
    }
  }

  label {
    position: relative;
    z-index: 4;
    cursor: pointer;
  }

  &:after {
    transition: all 0.4s ease-out 0s;
    -moz-transition: all 0.4s ease-out 0s;
    -webkit-transition: all 0.4s ease-out 0s;
    -o-transition: all 0.4s ease-out 0s;
    display: block;
    content: "";
    position: absolute;
    z-index: 3;
    left: 0;
    width: 0;
    height: 100%;
    background: rgba($color: #ffffff, $alpha: 0.3);

    [dir="rtl"] & {
      right: 0;
    }
  }

  &:hover {
    color: #fff;

    &:after {
      width: 100%;
    }
  }

  @media #{$media-700} {
    height: 38px;
  }
}

.read_more_button {
  background: rgba($color: #ffffff, $alpha: 0);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  display: flex;
  gap: 8px;
  height: 24px;
  border: none;
  color: #574547;
  width: fit-content;
  cursor: pointer;
  position: relative;
  left: 0;
  transition: all 0.3s ease;

  &:hover {
    transform: translateX(5px);
  }

  p {
    font-size: 15px;
    font-weight: 400;
  }

  svg {
    color: #574547;
    width: 11px;
    height: 17px;
    display: block;
    align-self: center;
    transition: all 0.3s ease;
  }

  &:hover {
    // p {
    //   transform: scale(1.1);
    // }
    svg {
      transform: scale(1.1);
    }
  }

  @media only screen and (-webkit-min-device-pixel-ratio: 1.5),
    only screen and (min-resolution: 144dpi) {
    height: 40px;

    div.button_round {
      height: 32px;
      width: 32px;
    }

    @media (max-width: 1600px) {
      height: 38px;

      div.button_round {
        height: 30px;
        width: 30px;
      }
    }
    @media (max-width: 700px) {
      height: 30px;

      div.button_round {
        height: 25px;
        width: 25px;
      }
    }
  }
}
